:root {
    --left-bar-width: 75px;
    --top-bar-height: 75px;
    --gantt-chart-width: 10000px;
    --bottom-bar-height: 45px;
    --month-bar-height: 36px;
    --task-area-width: 550px;
    --day-date-char-height: 23px;
    --task-li-height: 33px;
    --task-li-margin: 8px;
}

body {
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #222;
    font-size: .9em;
    font-weight: 400;
}

.semi-bold {
    font-weight: 500;
}

.left-bar {
    position: fixed;
    height: 100%;
    width: var(--left-bar-width);
    left: 0px;
    top: 0px;
    background-color: #ddd;
}

.top-bar1 {
    position: fixed;
    left: var(--left-bar-width);
    right: 0px;
    height: var(--top-bar-height);
    background-color: #ccc;
}

.top-bar2 {
    position: fixed;
    top: var(--top-bar-height);
    left: var(--left-bar-width);
    right: 0px;
    height: var(--top-bar-height);
    background-color: #f1f1f1;
}

.bottom-bar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: var(--bottom-bar-height);
    background-color: #f1f1f1;
}

.add-item {
    outline: none;
    border: none;
    height: 34px;
    width: 34px;
    border-radius: 17px;
    background-color: dodgerblue;
    position: fixed;
    top: 135px;
    left: 60px;
    line-height: 33px;
    text-align: center;
    font-size: 1em;
    color: #fff;
}

.add-item:hover {
    cursor: pointer;
    background-color: dodgerblue;
    font-size: 1.4em;
    height: 38px;
    width: 38px;
    border-radius: 19px;
    top: 133px;
    left: 58px;
    line-height: 37px;

}

.add-item:focus {
    outline: none;
}

.gantt-container {
    padding: 0px;
    margin: 0px;
    background-color: #dedede;
}

.calender-container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: calc(var(--top-bar-height) * 2);
    left: calc(var(--task-area-width) + var(--left-bar-width));
    bottom: var(--bottom-bar-height);

    background-color: aqua;
    z-index: -2;
}

.calender-grid {
    top: 0px;
    margin-top: 36px;
    height: 100%;
    width: 100%;
    position: absolute;
}

.month-bar {
    height: var(--month-bar-height);
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 2;
    background-color: #FFF;
}

.month {
    background-color: #FFF;
    position: absolute;
    height: 100%;
    border-right: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    text-align: center;
    display: block;
    padding-top: 8px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: .8em;

}

.grid-item {
    height: 100%;
    border-right: 1px solid #eaeaea;
}

.weekend {
    background-color: #f5f4f3;
}

.today {
    background-color: #ccc;
}

span.day-char {
    position: relative;
    z-index: 2;
    display: block;
    text-align: center;
    color: gray;
    font-size: .75em;
    height: var(--day-date-char-height);
}

span.date-num {
    position: relative;
    z-index: 2;
    display: block;
    text-align: center;
    color: black;
    font-size: .75em;
    font-weight: bold;
    padding-top: 5px;
    height: var(--day-date-char-height);
}

.task-header {
    position: relative;
    height: var(--month-bar-height);
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
}

.project-title {
    height: calc(var(--day-date-char-height) + var(--day-date-char-height));
    width: 100%;
    background-color: #fff;
    padding-left: 1em;
}

.tasks {
    position: absolute;
    left: var(--left-bar-width);
    top: calc(var(--top-bar-height) * 2);
    min-height: 100%;
    width: var(--task-area-width);
    z-index: -1;
    background-color: #fff;
    border-left: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
}

.task-header-item {
    height: 100%;
    float: right;
    color: #888;
    text-align: center;
    line-height: var(--month-bar-height);
    font-size: .8em;
}

.dividing-bar {
    border-left: 1px solid #eaeaea;
    height: 100%;
    width: 0px;
    position: absolute;
    top: 0px;
}

.task-group-title {
    font-size: .9em;
    padding-left: 25px;
    display: block;
    line-height: calc(var(--task-li-height) - var(--task-li-margin));
    height: calc(var(--task-li-height) - var(--task-li-margin));
    margin-top: var(--task-li-margin);
    margin-bottom: var(--task-li-margin);
    background-color: #f5f4f3;
    cursor: grab;
}

.task-group-container {
    margin-left: 20px;

}

.task-li {
    padding-left: 25px;
    font-size: .9em;
    height: calc(var(--task-li-height) - var(--task-li-margin));
    margin-top: var(--task-li-margin);
    margin-bottom: var(--task-li-margin);
    line-height: calc(var(--task-li-height) - var(--task-li-margin));
    background-color: #fcfcfc;
    cursor: grab;
}

.task-li:hover {
    background-color: #f5f4f3;
}

.task-list-target-container {
    pointer-events: none;
    width: var(--task-area-width);
    position: absolute;
    top: calc(var(--month-bar-height) + var(--day-date-char-height) + var(--day-date-char-height));
}

.task-list-target {
    pointer-events: all;
    margin-top: calc(var(--task-li-height) - var(--task-li-margin));
    height: var(--task-li-margin);
    width: calc(var(--task-area-width));
    opacity: .5;
}

.collapse-arrow {
    float: left;
    height: 1;
    width: 1em;
    line-height: calc(var(--task-li-height) - var(--task-li-margin));
    cursor: pointer;
}

.task-assignment {
    padding-left: 1em;
    height: 100%;
    float: right;
    width: 125px;
    line-height: calc(var(--task-li-height) - var(--task-li-margin));
}

.task-progress {
    height: 100%;
    float: right;
    width: 75px;
    text-align: center;
    line-height: calc(var(--task-li-height) - var(--task-li-margin));
}

.border-bl {
    border-left: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}

.calender-item-container {
    width: 100%;
    height: 100%;
}

.gantt-line {
    height: calc(var(--task-li-height) - var(--task-li-margin));
    position: absolute;
    margin-top: var(--task-li-margin);
    margin-bottom: var(--task-li-margin);
    background-color: dodgerblue;
    z-index: 1;
    border-radius: 5px;
}

.new-gantt-line-target {
    position: absolute;
    height: calc(var(--task-li-height) - var(--task-li-margin));
    margin-top: var(--task-li-margin);
    margin-bottom: var(--task-li-margin);
    z-index: 0;
}

.gantt-line-create {
    display: none;
    pointer-events: none;
    height: calc(var(--task-li-height) - var(--task-li-margin));
    position: absolute;
    margin-top: var(--task-li-margin);
    margin-bottom: var(--task-li-margin);
    background-color: dodgerblue;
    z-index: 20;
    border-radius: 5px;
}

.handle-left {
    position: absolute;
    visibility: hidden;
    width: 10px;
    height: 100%;
    float: left;
    border-radius: 5px 0px 0px 5px;
    pointer-events: none;
    background-color: rgba(0, 0, 0, .1);
    cursor: ew-resize;
}

.handle-right {
    position: absolute;
    visibility: hidden;
    right: 0px;
    width: 10px;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    pointer-events: none;
    background-color: rgba(0, 0, 0, .1);
    cursor: ew-resize;
}


.inline-edit {
    border: 1px solid #eaeaea;
}

.editable {
    cursor: text;
}

.popup {
    position: fixed;
    height: 100px;
    width: 100px;
    background-color: white;
}

.calender-target-container {
    position: relative;
    top: calc(var(--day-date-char-height) + var(--day-date-char-height) + var(--month-bar-height));
    z-index: 1;
}

.tip .tooltip-text {
    display: block;
    visibility: hidden;
    width: 120px;
    background-color: #eaeaea;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 30;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tip .tooltip-text::after {
    display: block;
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #eaeaea transparent transparent transparent;
}

.task-actions {
    display: none;
    float: right;
    width: 50px;
    text-align: center;
    line-height: calc(var(--task-li-height) - var(--task-li-margin));
}

.task-actions i {
    margin-left: 10px;
    cursor: pointer;
}

.dependency-line {
    z-index: 20;
    position: absolute;
    pointer-events: none;
}
div.dependency-link {
    display: none;
    position: absolute;
    width: 25px;
    text-align: center;
}
i.dependency-link{
    color: #ccc;
    line-height: calc(var(--task-li-height) - var(--task-li-margin));
}
i.dependency-link:hover{
    color: #555;
    line-height: calc(var(--task-li-height) - var(--task-li-margin));
}
/*
.tooltip:hover .tooltip-text {
  visibility: visible;
}*/
.test {}
